<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nicebin.user.mapper.UserMapper">
    <!--根据id获取-->
    <select id="testSelect" resultType="com.nicebin.user.entity.User">
        SELECT * FROM user
    </select>
    <!--新增-->
    <insert id="testInsert" parameterType="com.nicebin.user.entity.User">
        insert into user(name,age) values (#{name},#{age})
    </insert>

</mapper>
